#container {
    width: 1440px;
    height: 1870px;
    font-family: 'Barlow', sans-serif;
    display: grid;
    grid-template-columns: 165px 1110px 165px;
    grid-template-rows: 196px 510px 480px 619px 65px;
    grid-template-areas: 
        ". header ." 
        ". content1 side1"
        "side2 content2 ."
        ". content3 ."
        ". footer .";
    overflow-x: hidden;    
}
.header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
}
.top-row {
    grid-area: content1;
    display: flex;
    justify-content: space-between;
}
.middle-row {
    grid-area: content2;
    display: flex;
    justify-content: space-between;
}
.bottom-row {
    grid-area: content3;
    display: flex;
    justify-content: space-between;
}
.footer {
    grid-area: footer;
    margin: auto;
    font-size: 16px;
    color:#7B8BAD;
}
.right-square {
    grid-area: side1;
    margin-left: 30px;
}
.left-square {
    grid-area: side2;
    position: absolute;
    left: -120px;
    top: 950px;
}
.header-logo {
    margin-top: 64px;
}
.header-button {
    width: 175px;
    height: 58px;
    margin-top: 55px;
    background: #E8EFF2;
    border: none;
    border-radius: 8px;
    font-family: inherit;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #162542;
}
.header-button:hover {
    background: #162542;
    color: #FFFFFF;
}
.main {
    width: 445px;
    height: 312px;    
}
.main-title {
    font-size: 56px;
    font-weight: 900;
    text-transform: uppercase;
    color: #162542;
}
.main-description {
    margin-top: -35px;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    color: #7B8BAD;
}
.main-button{
    width: 175px;
    height: 58px;
    margin-top: 15px;
    background: #F16718;
    border: none;
    border-radius: 8px;
    font-family: inherit;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #FFFFFF;
}
.main-button:hover {
    background: #FF9B62;
    color: #FFFFFF;
}
.info-text {
    margin-left: 40px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #7B8BAD;
}
.keyboard {
    width: 540px;
    height: 480px;
    border-radius: 20px;
}
.phone-keyboard {
    width: 255px;
    height: 480px;
    border-radius: 20px;
    mix-blend-mode: multiply;
}
.phone-keyboard-box {
    width: 255px;
    height: 480px;
    border-radius: 20px;
    background-color: #F16718;
}
.glass-keyboard {
    width: 445px;
    height: 480px;
    margin-left: 30px;
    border-radius: 20px;
}
.middle-row div {
    display: flex;
}
.sub-article {
    width: 255px;
    height: 265px;
    margin-top: 80px;
}
.sub-title {
    font-size: 32px;
    font-weight: 900;
    text-transform: uppercase;
    color: #162542;
}
.feature {
    width: 255px;
    height: 323px;
    margin-top: 168px;
}
.feature-icon {
    width: 65px;
    height: 65px;
    margin-bottom: 48px;
    background: #F16718;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.feature-title {
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
    color: #162542;
}
.sub-description,
.feature-description {
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    color: #7B8BAD;
}
@media (max-width: 400px) {
    #container {
        max-width: 100vw;
        grid-template-columns: 375px;
        grid-template-rows: 135px auto auto auto 172px;   
        grid-template-areas: 
            "header" 
            "content1"
            "content2"
            "content3"
            "footer";               
    }
    .header {
        margin: 0px 24px 64px;
    }
    .top-row {
        flex-direction: column;
        margin: 0 0 24px 24px;
    }
    .middle-row {
        flex-direction: column;
    }
    .bottom-row {
        flex-direction: column;
        align-items: center;
    }
    .footer {
        margin-top: 96px;    
    }
    .header-button, .main-button {
        width: 150px;
        height: 48px;
    }    
    .main {
        width: 327px;
        height: 286px;
        margin-bottom: 80px;
    }
    .main-title {
        font-size: 48px;
    }   
    .main-description {
        font-size: 16px;
    } 
    .keyboard {
        width: 372px;
        height: 331px;
    }
    .phone-keyboard, .phone-keyboard-box {
        width: 129px;
        height: 193px;
    }
    .glass-keyboard {
        width: 220px;
        height: 193px;
        margin-left: 24px;
    }
    .middle-row div {
        margin-left: -12px;
    }
    .sub-article {
        text-align: center;
        align-self: center;
        margin-bottom: 47px;
    }
    .sub-description {
        width: 327px;
        margin-left: -30px;
    }
    .feature {
        margin-top: 64px;
    }
    .feature-icon {
        margin-left: 95px;
    }
    .feature-title {
        text-align: center;
    }
    .feature-description {
        width: 327px;
        text-align: center;
        margin-left: -30px;
    }
    .right-square, .left-square {
        display: none;
    }
}